*{
    padding: 0%;
    margin: 0%;
}

html body { 
    background-color: rgb(132, 132, 250);
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .container {
    margin-top: 16%;
    margin-right: 25%;
  }
  .mx-auto {
    margin-right: 20%;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
  }
  p {
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
  }
  .players {
    display: table;
    width: 100%;
    text-align: center;
  }
  .player1 {
    display: table-cell;
    text-align: left;
    width: 50%;
  }
  .player2 {
    display: table-cell;
    text-align: right;
    width: 50%;
  }
  .btn {
      margin: 0px auto;
    margin-top: 15px;
    margin-left: 35%;
    padding: 5px;
    width: 150px;
  }
  input[type="text"] {
    width: 100px;
  }


  /* responsiveness */
  @media only screen and(width:375px){
    .btn {
      margin: 0px auto;
      margin-top: 15px;
      margin-left: 23%;
      padding: 5px;
      width: 150px;
    }
  }